<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main Admin Page</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-info static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Baza Oceanarium Politechniki Warszawskiej</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/index}">Strona startowa</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/main_admin}">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/pracownicy_admin}">Pracownicy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/okazy_admin}">Okazy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/zbiorniki_admin}">Zbiorniki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bilety
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:inline="text" style="color:white;">Jesteś zalogowany jako: <b
                            style="text-transform:capitalize">[[${#httpServletRequest.remoteUser}]]</b></a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-md-10 mt-5">

            <label style="font-size:30px">Zarządzanie biletami</label>
            <div style="font-size:20px">Edytowanie danych związanych z biletami
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-10 mt-5">
        <h1>bilety</h1>

        <table border="1" cellpadding="10">

            <thead>
            <tr>
                <!--  <th>id_bilet</th>-->
                  <th>id_klienta</th>
                  <th>typ_biletu</th>
                  <th>rodzaj_biletu</th>
                  <th>nazwa</th>
                  <th>cena</th>
                  <th>data_biletu</th>
                  <th>Operacja</th>


              </tr>
              </thead>

              <tbody>
              <tr th:each="bilety : ${listBilety}">
                  <!-- <td th:text="${bilety.id_bilet}">id_bilet</td>-->
                 <td th:text="${bilety.id_klienta}">id_klienta</td>
                 <td th:text="${bilety.typ_biletu}">typ_biletu</td>
                 <td th:text="${bilety.rodzaj_biletu}">rodzaj_biletu</td>
                 <td th:text="${bilety.nazwa}">nazwa</td>
                 <td th:text="${bilety.cena}">cena</td>
                 <td th:text="${bilety.data_biletu}">data_biletu</td>
                 <td>
                     <a th:href="@{'/editbilet/' + ${bilety.id_bilet}}">Edytuj</a>
                     &nbsp;&nbsp;&nbsp;&nbsp;
                     <a th:href="@{'/deletebilet/' + ${bilety.id_bilet}}">Usuń</a>
                 </td>
             </tr>
             </tbody>

         </table>

         <a href="/newbilet_admin">Dodaj nowy bilet</a>
     </div>
 </div>

 <div align="center">


 </div>

 <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
 <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
 <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
 <script th:src="@{/js/script.js}"></script>

 </body>
 </html>